<div *ngIf="size">
    <app-header></app-header>
</div>

<div id="conteneur">
    
    <img id="image" src="/assets/anagrammescreen.png" style="width: 60%;">
    <img id="image11" src="/assets/anagrammescreen1.png" style="width: 60%;">
    <img id="gif" src="/assets/anagrammegif.gif" style="width: 60%;">

    
    
</div>
<div id="conteneur2">
<div class="container" style="max-width:60%">
    
    <img id="bande" src="/assets/banderole.jpg" style="width:28%">
   
    <div id="text"> 
        <h2>JEU D'ANNAGRAMME</h2>
<p>Jeu d'anagramme réalisé en HTML, CSS, JS. Ce projet a été à 2. Le but étant, comme son nom l'indique, de résoudre l'anagramme. La difficulté augmente au fil des niveau. Ça n'est plus des mots mais des phrases à trouver.    </p>
         <a id="code" href="/assets/cloclo/indexNOIR.html">TEST LE JEU ICI</a>
</div>


        <!--- <img class="left" src="fleche.jpg" (click)="plusDivs(-1)">-->
  </div>
</div>


