<div id="header">
  <div class="container0" (click)="goto(0)">
    <img class="image0" src="/assets/0.jpg"  />
    <div class="overlay0">
      <div class="text0" >image 0</div>
    </div>
  </div>
  <div class="container" (click)="goto(1)">
    <img class="image" src="/assets/1.jpg"  />
    <div class="overlay">
      <div class="text">image 1</div>
    </div>
  </div>
  <div class="container" (click)="goto(2)">
    <img class="image" src="/assets/2.jpg"  />
    <div class="overlay">
      <div class="text">image 2</div>
    </div>
  </div>
  <div class="container" (click)="goto(3)">
    <img class="image" src="/assets/3.jpg"  />
    <div class="overlay">
      <div class="text">image 3</div>
    </div>
  </div>
  <div class="container" (click)="goto(4)">
    <img class="image" src="/assets/4.jpg" />
    <div class="overlay">
      <div class="text">image 4</div>
    </div>
  </div>
  <div class="container" (click)="goto(5)">
    <img class="image" src="/assets/5.jpg"  />
    <div class="overlay">
      <div class="text">image 5</div>
    </div>
  </div>
  <div class="container" (click)="goto(6)">
    <img class="image" src="/assets/6.jpg" />
    <div class="overlay">
      <div class="text">image 6</div>
    </div>
  </div>
  <div class="container" (click)="goto(7)">
    <img class="image" src="/assets/7.jpg"/>
    <div class="overlay">
      <div class="text">image 7</div>
    </div>
  </div>
  <div class="container"  (click)="goto(8)">
    <img class="image" src="/assets/8.jpg" />
    <div class="overlay">
      <div class="text">image 8</div>
    </div>
  </div>
  <div class="container" (click)="goto(9)">
    <img class="image" src="/assets/9.jpg"/>
    <div class="overlay">
      <div class="text">image 9</div>
    </div>
  </div>
  <div class="container" (click)="goto(10)">
    <img class="image" src="/assets/10.jpg"  />
    <div class="overlay">
      <div class="text">image 10</div>
    </div>
  </div>
</div>
