<div id = "header">
  <img src="/assets/0.jpg" style="width: 100%;" (click)="goto(0)" />
  <img src="/assets/1.jpg" style="width: 49%;" (click)="goto(1)" />
  <img src="/assets/2.jpg" style="width: 49%;" (click)="goto(2)" />
  <img src="/assets/3.jpg" style="width: 49%;" (click)="goto(3)" />
  <img src="/assets/4.jpg" style="width: 49%;" (click)="goto(4)" />
  <img src="/assets/5.jpg" style="width: 49%;" (click)="goto(5)" />
  <img src="/assets/6.jpg" style="width: 49%;" (click)="goto(6)" />
  <img src="/assets/7.jpg" style="width: 49%;" (click)="goto(7)" />
  <img src="/assets/8.jpg" style="width: 49%;" (click)="goto(8)" />
  <img src="/assets/9.jpg" style="width: 49%;" (click)="goto(9)" />
  <img src="/assets/10.jpg" style="width: 49%;" (click)="goto(10)" />
</div>
