<div id="header">
  <div id="image0" class="container0" (click)="goto(0)">
    <img class="image0" src="/assets/0.jpg"  />
    <div class="overlay0">
      <div class="text0" >PROJET DE DIPLOME</div>
    </div>
      
  </div>
  <div id="image1"class="container" (click)="goto(1)">
    <img class="image" src="/assets/1.jpg"  />
    <div class="overlay">
      <div class="text">MIKROSERUM PLANTAE</div>
    </div>
      
  </div>
  <div id="image2" class="container" (click)="goto(2)">
    <img class="image" src="/assets/2.jpg"  />
    <div class="overlay">
      <div class="text">MAORI</div>
    </div>
      
  </div>
  <div id="image3" class="container" (click)="goto(3)">
    <img class="image" src="/assets/3.jpg"  />
    <div class="overlay">
      <div class="text">TERRITOIRE</div>
    </div>
      
  </div>
  <div id="image4" class="container" (click)="goto(4)">
    <img class="image" src="/assets/4.jpg" />
    <div class="overlay">
      <div class="text">SERIGRAPHIE</div>
    </div>
      
  </div>
  <div id="image5" class="container" (click)="goto(5)">
    <img class="image" src="/assets/5.jpg"  />
    <div class="overlay">
      <div class="text">PIXEL MOI</div>
    </div>
      
  </div>
  <div id="image6" class="container" (click)="goto(6)">
    <img class="image" src="/assets/6.jpg" />
    <div class="overlay">
      <div class="text">MARCHE <br>FONTBARL</div>
    </div>
      
  </div>
  <div id="image7" class="container" (click)="goto(7)">
    <img class="image" src="/assets/7.jpg"/>
    <div class="overlay">
      <div class="text">INTERVIEW</div>
    </div>
      
  </div>
  <div id="image8" class="container"  (click)="goto(8)">
    <img class="image" src="/assets/8.jpg" />
    <div class="overlay">
      <div class="text">TYPOGRAPHIE</div>
    </div>
      
  </div>
  <div id="image9" class="container" (click)="goto(9)">
    <img class="image" src="/assets/9.jpg"/>
    <div class="overlay">
      <div class="text">JEU<br> D'ANAGRAMME</div>
    </div>
      
  </div>
  <div id="image10" class="container" (click)="goto(10)">
    <img class="image" src="/assets/10.jpg"  />
    <div class="overlay">
      <div class="text">CONFINO-<br>DESSINS</div>
    </div>
  </div>


</div>
