<div *ngIf="size">
    <app-header></app-header>
</div>

<div id="conteneur">

</div>
<div id="conteneur2">
<div class="container" style="max-width:60%">

    
    <div id="text"> 
        <h2>INTERVIEW</h2>
<p>Mise en page et interview réalisé avec Brulex, un designer, illustrateur situé à Lyon.<br> J'ai décidé de réaliser une mise en page avec un fond noir afin de faire ressortir ses productions graphiques très colorées. 91,5cmx66,5cm.</p>
</div>
   

    <img id="bande" src="/assets/banderole2.jpg" style="width:28%">
    
    <img id="image2" src="/assets/Brulexlogo.png" style="width: 50%;">
    <div id="text2">ZOOM MOI</div> 
     <input type="checkbox" id="zoomCheck">
  <label for="zoomCheck">
    <img  id="zoom"src="/assets/test grille 3 nice.jpg" style="width: 100%;">
  </label>
 
    
    <img id="image" src="/assets/testinterview.jpg" style="width: 100%;">
     <img id="image4" src="/assets/interview.jpg" style="width: 49%;">
     <img id="image5" src="/assets/interview4.jpg" style="width: 49%;">
    
  

    
    </div>
</div>