#conteneur{
    margin-left: 22%;   
}


#conteneur2{
    margin-left: 22%;
    overflow-x: hidden;
}

.mySlides {display:none}

.left{
    font-family: "Porpora";
   position:absolute;

} 
.right{
    font-family: "Porpora";
    position:relative;
    left: 90%;
    
} 

.w3-badge {cursor:pointer} 

#text{
    color: white;
    font-size: 15px;
  
    left: 70%;
    top: 10%;
      font-family: "Porpora";
    position: fixed;
}

#bande {
     position: fixed;
left: 70%;
    bottom: 1%;
}

#image{
    margin-bottom: 2%;
    margin-top: 2%;
}
  
#image2{
     
}

@font-face {
  font-family: Porpora;
  src: url(/../../assets/Porpora-Regular.ttf);
}

