<div *ngIf="size">
  <app-header></app-header>
</div>

<div id="conteneur">

  <img id="gif" src="/assets/rectanglecouleur.gif" style="width: 60%;">

  <img id="bande2" src="/assets/banderole2.png" style="width:60%">

</div>
<div id="conteneur2">
  <div class="container" style="max-width:60%">

    <img id="1" class="mySlides" src="/assets/coeurcouleur.JPG" style="width:100%">
    <img id="2" class="mySlides" src="/assets/fleurchampi.JPG" style="width:100%">
    <img id="3" class="mySlides" src="/assets/aqua.jpg" style="width:100%">
    <img id="4" class="mySlides" src="/assets/fleurs.JPG" style="width:100%">

    <div class="left" (click)="plusDivs(-1)">&#10094;SLIDE&#10094;</div>
    <div class="right" (click)="plusDivs(1)">&#10095;SLIDE&#10095;</div>



    <img id="5" class="mySlides" src="/assets/coeurcouleur.JPG" style="width:100%">
    <img id="6" class="mySlides" src="/assets/fleurchampi.JPG" style="width:100%">
    <img id="7" class="mySlides" src="/assets/aqua.jpg" style="width:100%">
    <img id="8" class="mySlides" src="/assets/fleurs.JPG" style="width:100%">

    <div class="left2" (click)="plusDivs2(-1)">&#10094;SLIDE&#10094;</div>
    <div class="right2" (click)="plusDivs2(1)">&#10095;SLIDE&#10095;</div>


  </div>
</div>


<div id="text">
  <h2>CONFINODESSIN</h2>
  <p>Durant le confinement, je me suis remise au dessin, cela faisait plus de deux ans que je n'avais plus toucher à la
    tablette. Ces dessins fut pour moi un exutoir au moment du confinement. Toujours avec cette contrainte du fond noir
    j'ai tenté de developper cet univers onirique qui me fait tant voyager. </p>
</div>

<img id="bande" src="/assets/banderole.jpg" style="width:28%">