<div *ngIf="size">
    <app-header></app-header>
</div>

<div id="conteneur">
    
    <img id="image" src="/assets/glitch.png" style="width: 60%;">
    <img id="gif" src="/assets/gifglitch.gif" style="width: 60%;">
    
    <img id="bande2" src="/assets/banderole2.png" style="width:60%">
    
     <img id="image1" src="/assets/valance.png" style="width: 60%;">
     <img id="image2" src="/assets/spacevalence.jpg" style="width: 60%;">
    <img id="image3" src="/assets/spacevalence2.jpg" style="width: 60%;">
    
    <img id="bande2" src="/assets/banderole2.png" style="width:60%">
    
    <img id="image4" src="/assets/cmjn.jpg" style="width: 60%;">
    <img id="image5" src="/assets/cmjnzoom.jpg" style="width: 60%;">
    
    <img id="bande2" src="/assets/banderole2.png" style="width:60%">
    
    <img id="image6" src="/assets/zizi1.png" style="width: 60%;">
    
    
</div>
<div id="conteneur2">
<div class="container" style="max-width:60%">
  
    <img id="1" class="mySlides" src="/assets/zizi2.jpg" style="width:100%">
    <img id="2" class="mySlides" src="/assets/zizi3.jpg" style="width:100%">
    <img id="3" class="mySlides" src="/assets/zizi4.jpg" style="width:100%">
    
    <div class="left" (click)="plusDivs(-1)">&#10094;SLIDE&#10094;</div>
      <div class="right" (click)="plusDivs(1)">&#10095;SLIDE&#10095;</div>
    
    <img id="bande" src="/assets/banderole.jpg" style="width:28%">
   
    <div id="text"> 
        <h2>SÉRIGRAPHIE EN TOUT GENRE</h2>
<p>Voici les sérigraphies réalisées du durant mes deux années en design graphique. Au cour de ces deux années je me suis beaucoup interessée à la pratique de la sérigraphie en expérimentant différentes techniques d'impression. Je trouve cette technique particulièrement satisfaisante car au fil des passages couleurs nous pouvons observer la construction de l'image. <br> J'ai d'ailleurs effectuer un stage dans un atelier de sérigraphie à Lyon, ce qui m'a permis d'acquérir de l'experience et de la précision. <br><br> -"Glitché" 12 illustrations, variant de la bichromie à la quadrichromie A5, <br> -"Space Valence" trichromie A2,<br>  -"Yourte" quadrichromie A2, <br> -Petites illustrations issues l'Encyclopédit de Diderot : Anatomie, encres fluorescentes.    </p> 
</div>

        <!--- <img class="left" src="fleche.jpg" (click)="plusDivs(-1)">-->
  </div>
</div>