<div *ngIf="size">
    <app-header></app-header>
</div>
<div id="conteneur">
    <img id="gif" src="/assets/gif-marché-dessin.gif" style="width: 60%;">
    <img id="image" src="/assets/marchétout.jpg" style="width: 60%;">
</div>
<div id="conteneur2">
<div class="container" style="max-width:60%">
    <img id="1" class="mySlides" src="/assets/nn.jpg" style="width:100%">
    <img id="2" class="mySlides" src="/assets/vv.jpg" style="width:100%">
    <img id="3" class="mySlides" src="/assets/bb.jpg" style="width:100%">
    <img id="4" class="mySlides" src="/assets/cc.jpg" style="width:100%">
   
    <div id="text"> 
        <h2> MARCHÉ DE FONTBARLET'</h2>
<p> Édition sur le marché de Fontbarlette à Valence, nous devions dessiner sur un carnet pendant un temps limiter, j'ai decidé de me concentrer sur les formes et couleurs des objets que nous trouvions sur le marché. J'ai redessiner les éléments graphiques à l'ordinateur tout en gardant la maladresse du dessin lorsque nous devions dessiner debout et rapidement.</p>
</div>
       <div class="left" (click)="plusDivs(-1)">&#10094;SLIDE&#10094;</div>
      <div class="right" (click)="plusDivs(1)">&#10095;SLIDE&#10095;</div>
        <!--- <img class="left" src="fleche.jpg" (click)="plusDivs(-1)">-->
  </div>
</div>